{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Matapacos</h1>
        <p>El mejor de todos los perritos!!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/matapacos.jpg" class="img-thumbnail">
    </div>
</div>



{{> footer}}